/* General */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Utilities */

.row{
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 1200px;
    position: relative;
    text-align: center;
}

.top-row-img{
    height: 700px;
    width: 500px;
    background-color: black;
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}


/* First row pics*/

#img-levi:hover{
    background-image: url("../img/1b.webp");
    background-size: cover;
    background-position: center;
}

#img-guess:hover{
    background-image: url("../img/2b.webp");
    background-size: cover;
    background-position: center;
}

#img-suit:hover{
    background-image: url("../img/3b.webp");
    background-size: cover;
    background-position: center;
}


#img-levi{
    background-image: url("../img/1.webp");
    background-size: cover;
    background-position: center;
}
#img-guess{
    background-image: url("../img/2.webp");
    background-size: cover;
    background-position: center;
}
#img-suit{
    background-image: url("../img/3.webp");
    background-size: cover;
    background-position: center;
}

/* Discounts */

.discount-box{
    width: 50px;
    height: 30px;
    background-color: #EB0037;
    position: absolute;
    bottom: 20px;
    text-align: center;
    line-height: 30px;
    
}

div.discount-box p{
    color: white;
    font-weight: bolder;
    font-size: 80%; 
    position: relative;
    bottom: 15px;  
}

.sosten-box{
    width: 100px;
    height: 30px;
    background-color: #00875A;
    position: absolute;
    bottom: 20px;
    margin-left: 60px;
    text-align: center;
    line-height: 30px;
}

div.sosten-box p{
    color: white;
    font-weight: bolder;
    font-size: 80%;
    position: relative;
    bottom: 15px;
}

/* First row description */


.description{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    text-align: center;
}

.top-row-desc{
    height: 100px;
    width: 500px;
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.text-desc{
    margin: 0;
    text-align: left;
}

.bolder-text{
    font-weight: bolder;
}

/* span:nth-child(2) {
    color: red;

}  */

span.red-price{
    color: red;
    font-weight: bolder;
}
